<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>European Soccer</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>
	<body>
		<div class="box">
			<div class="top">
				<img src="static/depositphotos_72217895-stock-photo-soccer-field-with-balls.jpeg" alt="">
				<h3>European Soccer</h3>
				<p>Nuestra pagina muestra un modelo de Machine learning, prediciendo el overall_rating de los jugadores. 
				</p>
			</div>
			<div class="bottom">
				<ul>
					<li>
						<a href="/v1">
							<img src="static/78461920504cf3431636959492.png" >
							<span>Predict</span>
						</a>
					</li>
					<li>
						<a href="/ingest">
							<img src="static/78461920504cf3431636959492.png" >
							<span>Ingestar datos</span>
						</a>
					</li>
					<li>
						<a href="v1">
							<img src="static/78461920504cf3431636959492.png" >
							<span>Monitorizar</span>
						</a>
					</li>
					<li>
						<a href="">
							<img src="static/78461920504cf3431636959492.png" >
							<span>Reentrenar</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
